@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: var(--foreground);
  color: var(--foreground);
}

.press {
  font-family: var(--font-press);
}